@import "tailwindcss";
@import "@nuxt/ui";

.dotted-divider {
  height: 2px;
  border: none;
  background-image: radial-gradient(#9ca3af 2px, transparent 3px);
  background-size: 10px 2px;
  background-repeat: repeat-x;
  display: block;
  width: 100%;
  margin: 0.1rem 0;
}

:root {
  --ui-bg: #ffffff;           /* Default background */
  --ui-bg-muted: #f9fafb;     /* Cards / table backgrounds */
  --ui-border: #e5e7eb;       /* Border gray */
}

body {
  background-color: var(--ui-bg);
  color: #111827;
}