.dotted-divider {
  height: 2px;
  border: none;
  background-image: radial-gradient(#9ca3af 2px, transparent 3px);
  background-size: 10px 2px;
  background-repeat: repeat-x;
  display: block;
  width: 100%;
  margin: 0.75rem 0;
}
