@import "tailwindcss";
@import "@nuxt/ui";

.dotted-divider {
  height: 2px;
  border: none;
  background-image: radial-gradient(#9ca3af 2px, transparent 3px);
  background-size: 10px 2px;
  background-repeat: repeat-x;
  display: block;
  width: 100%;
  margin: 0.1rem 0;
}

.btn-dark {
  @apply bg-gray-800 text-white hover:bg-gray-700 active:bg-gray-900 focus:ring-2 focus:ring-gray-400 focus:outline-none transition;
}
.btn-outline-dark {
  @apply border border-gray-800 text-gray-800 hover:bg-gray-800 hover:border-0 active:border-0 hover:text-white active:bg-gray-900 transition;
}

.preview-card {
  @apply flex items-center gap-3 rounded-2xl border border-gray-200 bg-white/80 px-4 py-3 shadow-sm;
}
